*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

img{
  width: 100%;
  height: auto;
}

ul{
  list-style: none;
}

/*variaves*/
:root{
  --header-height: 3.8rem;

 /*Cor primaria*/
 --hue: 200;
 /*  hsl color mode*/
 --base-color: hsl(var(--hue) 36% 57%);
 --base-color-second: hsl(var(--hue) 63% 88%);
 --base-color-alt: hsl(var(--hue) 57% 53%);
 --title-color: hsl(var(--hue) 41% 10%);
 --text-color: hsl(0 0% 46%);
 --text-color-light: hsl(0 0% 98%);
 --body-color: hsl(0 0% 98%); 

  /*fonts*/
  --title-font-size: 1.5rem;
  --subtitle-font-size: 1.188rem;

  --title-fonts: 'Poppins', sans-serif;
  --body-fonts: 'DM Sams', sans-serif;
}

body{
  font: 400 2rem var(--body-font);
  color: var(--text-color);
  background:var(--body-color);
}

.title{
  font: 700 var(--title-font-size) var(--title-fonts);
  color: var(--title-color);
  -webkit-font-smoothing:auto; 
}

.links{
font:400 var(--subtitle-font-size) var(--title-fonts);
color: var(--base-color-alt);
-webkit-font-smoothing:auto;
}

.button {
  background: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-fonts);
  transition: background 0.3s;
  margin-top: 3.0625rem;
}

.button:hover {
  background: var(--base-color-alt);
}

.divider-1 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 65%, 88%, 0.34)
  );
}

.divider-2 {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}

/*layout*/
.conteiner{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid{
  display: grid;
  gap: 2rem;
}

.section {
  padding: calc(2rem + var(--header-height)) 0;
}

.section .title{
  margin-bottom: 1rem;
}

/*header*/
#header{
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;

  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--text-color-light);

  padding: 1rem 0;
}

#header.scroll{
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

/*logo*/
.logo{
  font:700 1.31rem var(--title-fonts);
  color:var(var(--title-color))
}

.logo span{
  color:var(--base-color-alt);
}

/*navegaçao*/
nav{
  height:var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav ul li{
  text-align: center;
}

nav .menu{
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}
/*mudança e cor*/
nav ul li a{
  transition: color 0.25s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active{
color: var(--base-color-alt)
}

/*animaçao linha*/
nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1.5rem;
  transition: width 0.25s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
  width: 100%;
}

nav .menu ul {
  display: none;
}

/* show menu*/
nav.show .menu{
  opacity: 1;
  visibility: visible;

  background: var(--text-color-light);

  height: 100vh;
  width: 100vw;

  position: fixed; 
  top:0;
  left: 0;
  
  display: grid;
  place-content: center;
  }

  nav.show .menu ul{
    display: grid;
  }

  nav.show ul.grid{
    gap: 4rem;
  }

  /*toogle menu*/
.toggle{
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-cross {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  right: 1.5rem;
  /*trasiçao legal*/

  transition: 0.2s;
  top: -1.5rem;
}

nav.show div.icon-cross {
  visibility: visible;
  opacity: 1;
  top: 1.5rem;
}

/*trabalho*/
#trabalho{
  overflow: hidden;
}

#trabalho .conteiner{
  margin: 1.5rem;
}

#trabalho span{
  padding-left: 1.5rem;
}

#trabalho div .image { 
  text-align: center;
}

#trabalho div img{
  margin-top: 1rem;
  max-width:50rem ;
}

/*podcast*/
#podcast .pod{
  max-width:40rem
}
#podcast ul li a i{
  color: var(--text-color);
  font-size: 1.2rem;
}

/*filmes*/
#filmes  div .video{
position: relative;
margin-bottom: 20rem;
}

#filmes div.video > iframe{
position: absolute;
width: 100%;
margin-bottom:2rem ;
margin-top: 1.5rem;
top:0;
left: 0;
max-width:40rem;
}

/*cards*/
#livros{
  margin-top: 1rem;
}
.cards.grid{
  gap: 1.5rem;
}

.card{
  padding: 1rem 1rem;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.88);
  border-bottom: 0.25rem solid var(--base-color);
  border-radius: 0.25rem 0.25rem 0 0 ;
  text-align: center;
  gap: 0.75rem;
  max-width: 40rem;
}

.card .title {
  font-size: 1.2rem;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 1rem;
}

.cardinterno{
  display: flex;
  
}

.card img{
  width: 10rem;
  height: 12rem;
  margin-right: 2.5rem;
}

.card p{
  font-size: 0.98rem;
  justify-content: center;
}


/*filmes*/
filmes .cardinterno{
  display: block;
}

/*guias alimentares*/
#guia-alimentar ul li a i{
  color: var(--text-color);
  font-size: 1.2rem;
}

#guia-alimentar ul {
  display: grid;
  gap: 2.5rem;
}


/*footer*/
footer{
  background: var(--base-color);
}

footer.section{
  padding: 0.75rem 0;
}

footer .title{
  display: inline-block;
  font-size: 1.5rem;
}

footer .brand p {
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

footer i {
  color: var(--text-color-light);
  font-size: 1.5rem;
}

footer .social {
  grid-auto-flow: column;
  width: fit-content;
}

footer .social a {
  transition: 0.3s;
  display: inline-block;
}

footer .social a:hover {
  transform: translateY(-8px);
}

footer .nomeparticipantes ul{
  color: var(--text-color-light);
}


/*media queiries*/
/*large devices 800px>*/
@media(min-width:800px){
  :root {
    --title-font-size: 2.2rem;
    --subtitle-font-size: 1.5rem;
    
  }

  .conteiner{
    margin-left:auto; 
    margin-right:auto;
    
  }

  .section{
    padding: 5rem 2rem;
  } 

  body{
    font-size: 1.5rem;
  }
  
  header nav.conteiner {
    margin: auto 2.5rem;
  }

  header nav .logo{
    font-size: var(--title-font-size);
  }

  header nav ul li a.title{
    font-size:var(--subtitle-font-size);
  }

  /*livros*/
  #livros .cards{
   grid-template-columns: 1fr 1fr;
  }

}
@media(min-width:900px){
  #livros .cards{
    grid-template-columns: 1fr 1fr;
   }
   
  footer .conteiner{
    display: flex;
    padding: 1rem  4rem;
    gap: 20rem;
  } 

  footer .conteiner div.nomeparticipantes ul li{
    font-size: 0.899999rem;
  }

}



/*extra large devices 1000px>*/
@media(min-width:1000px){

  .section{
    padding: 8rem 5rem;
  } 

  header nav.conteiner {
   margin: auto 2.5rem;
  }

  /*menu*/
nav .menu{
  opacity: 1;
  visibility: visible;
  top: 0;
}

nav .menu ul{
  display: flex;
  gap: 2rem;
}

nav .menu ul li a.title {
  font: 400 1rem var(--body-fonts);
  -webkit-font-smoothing: antialiased;
}

nav .menu ul li a.title.ative {
  font-weight: bold;
  -webkit-font-smoothing: auto;
}

nav .icon-menu {
  display: none;
}

/*livros*/
#livros .cards{
  grid-template-columns: 1fr 1fr 1fr;
 }

 
} 