@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2b2zoh');
  src:  url('fonts/icomoon.eot?2b2zoh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2b2zoh') format('truetype'),
    url('fonts/icomoon.woff?2b2zoh') format('woff'),
    url('fonts/icomoon.svg?2b2zoh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-download3:before {
  content: "\e9c7";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-new-tab:before {
  content: "\ea7e";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-file-pdf:before {
  content: "\eadf";
}
